[{:lib io.github.tonsky/clj-reload   :git/sha nil        :git/url nil                                      :mvn/version "1.0.0"    :mvn/classifier nil  :mvn/repo-id "clojars"  :mvn/repo-url "https://repo.clojars.org/"        :deps/manifest :mvn   :cdx/sha-256 "71950c3919876196737a1a045787a41bbd792313fe5919d9d12b64fd88449a31"}
 {:lib local-root/something          :git/sha "git-sha"  :git/url "git@github.com:sikt-no/clj-cdxgen.git"  :mvn/version nil        :mvn/classifier nil  :mvn/repo-id nil        :mvn/repo-url nil                                :deps/manifest :deps  :cdx/sha-256 nil}                                                              
 {:lib org.clojure/clojure           :git/sha nil        :git/url nil                                      :mvn/version "1.12.4"   :mvn/classifier nil  :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn   :cdx/sha-256 "4b81e9ba6da38c45d9cc58023c674062b8c9f0714f33ff00ded22e6a949da177"}
 {:lib org.clojure/core.specs.alpha  :git/sha nil        :git/url nil                                      :mvn/version "0.4.74"   :mvn/classifier nil  :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn   :cdx/sha-256 "eb73ac08cf49ba840c88ba67beef11336ca554333d9408808d78946e0feb9ddb"}
 {:lib org.clojure/spec.alpha        :git/sha nil        :git/url nil                                      :mvn/version "0.5.238"  :mvn/classifier nil  :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn   :cdx/sha-256 "94cd99b6ea639641f37af4860a643b6ed399ee5a8be5d717cff0b663c8d75077"}]
