[{:lib io.github.tonsky/clj-reload                         :mvn/version "1.0.0"          :mvn/classifier nil             :mvn/repo-id "clojars"  :mvn/repo-url "https://repo.clojars.org/"        :deps/manifest :mvn  :cdx/sha-256 "71950c3919876196737a1a045787a41bbd792313fe5919d9d12b64fd88449a31"}
 {:lib io.netty/netty-buffer                               :mvn/version "4.1.130.Final"  :mvn/classifier nil             :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn  :cdx/sha-256 "00a522b67ea35cb7b4dd9cf27f85c6c58f5e306785aa045302e5f6b2d4944a87"}
 {:lib io.netty/netty-common                               :mvn/version "4.1.130.Final"  :mvn/classifier nil             :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn  :cdx/sha-256 "53921f28dd5a352b1bed0e1cbcc54d013dc60ffebeae9b2b1e53eabef317e581"}
 {:lib io.netty/netty-resolver                             :mvn/version "4.1.130.Final"  :mvn/classifier nil             :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn  :cdx/sha-256 "48c5b218a89d184e1b601d46433957f515fcefdb4464182b1348bce4f5a18f35"}
 {:lib io.netty/netty-transport                            :mvn/version "4.1.130.Final"  :mvn/classifier nil             :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn  :cdx/sha-256 "1bf573266d271f856705a9984d25449c56a1d73c02a16af12033ceccfe555dbb"}
 {:lib io.netty/netty-transport-classes-epoll              :mvn/version "4.1.130.Final"  :mvn/classifier nil             :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn  :cdx/sha-256 "1c352508d70aca1ccc3068daac907ad1e9d8dc68b07148d57426730bf0d0c8b6"}
 {:lib io.netty/netty-transport-native-epoll$linux-x86_64  :mvn/version "4.1.130.Final"  :mvn/classifier "linux-x86_64"  :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn  :cdx/sha-256 "d5d4611cb667eb215667c65aabfc75f8d9ef24de2a3e3a32eb28204f9c2a7a30"}
 {:lib io.netty/netty-transport-native-unix-common         :mvn/version "4.1.130.Final"  :mvn/classifier nil             :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn  :cdx/sha-256 "cf5efc4168597d7cd14695b469418cac2a1134533f9a0c82ef0538d796fd39e1"}
 {:lib org.clojure/clojure                                 :mvn/version "1.12.5"         :mvn/classifier nil             :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn  :cdx/sha-256 "dfdee131460216a84fef22e537bb0d0579965f8f70338d748323dff26f8e5a8b"}
 {:lib org.clojure/core.specs.alpha                        :mvn/version "0.4.74"         :mvn/classifier nil             :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn  :cdx/sha-256 "eb73ac08cf49ba840c88ba67beef11336ca554333d9408808d78946e0feb9ddb"}
 {:lib org.clojure/spec.alpha                              :mvn/version "0.5.238"        :mvn/classifier nil             :mvn/repo-id "central"  :mvn/repo-url "https://repo1.maven.org/maven2/"  :deps/manifest :mvn  :cdx/sha-256 "94cd99b6ea639641f37af4860a643b6ed399ee5a8be5d717cff0b663c8d75077"}]
